/*-- scss:variables --*/
$light-main-color: #fff;
$color-note: #0F5257;
$color-tip: #A0E8AF;
$color-caution: #EC7505;
$color-warning: #FFCF56;
$color-important: #FF5D73;
$color-lightblue: #DBEBEA ;

/*-- scss:defaults --*/
// Base
body p {
    text-align: justify;
}

// Code results
.cell {
    padding-bottom: 1rem;
}

// Code cells (eliminate extra margin - align with boy)
div.sourceCode {
    margin-left: 0 !important;
}

// Figure captions
figcaption {
    text-align: center;
}

// Callouts
.callout {
    margin-left: 0 !important;
}

// Footer aligment (conflict with body p)
.nav-footer-center p {
    text-align: center;
}

.nav-footer-right p {
    text-align: right;
}

// Webr code cells format
.qwebr-output-code-area div {
    background-color: $color-lightblue;
    border: 2px solid #777;
}

// Webr images go over the margin when screen is small
.qwebr-output-graph-area canvas {
    max-width: 100%;
}

body.quarto-dark .qwebr-output-code-stdout,
p pre code:not(.sourceCode), li pre code:not(.sourceCode), pre code:not(.sourceCode) {
    color: #0D1821 !important;
}

