/*-- scss:defaults --*/
// Base
body p {
    text-align: justify;
}

// Code results
.cell {
    padding-bottom: 1rem;
}

// Figure captions
figcaption {
    text-align: center;
}

// Callouts
.callout {
    margin-left: 0 !important;
}

// Footer aligment (conflict with body p)
.nav-footer-center p {
    text-align: center;
}

.nav-footer-right p {
    text-align: right;
}
