/*-- scss:defaults --*/
$body-bg: #313638;
$font-family-sans-serif: 'Inter', sans-serif;
$font-family-monospace: 'Consolas', monospace;
$sidebar-bg: #BCBDC0;
$code-block-border-left-size: 10px;
$code-block-bg: #F2E8CF;
$code-block-border-left: #433E3F;

$sidebar-fg: #313638;
$sidebar-hl: #E06D06;
