/*-- scss:defaults --*/
$body-bg: #1A1A1A;
$font-family-sans-serif: 'Inter', sans-serif;
$font-family-monospace: 'Consolas', monospace;

$code-block-border-left-size: 10px;
/*$code-block-bg: #CCDDE2;*/
$code-block-bg: #DCE4E6;
$code-block-border-left: #433E3F;
